.manage-profile {
  margin: auto;
  padding: 30px;
}

.card {
  background: #fff;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

h3 {
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #444;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  /* margin-top: 10px;
  padding: 10px 20px;
  background-color: #004aad;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer; */
}

button:hover {
  background-color: #00398c;
}

.form-label {
    margin-bottom: 0.5rem;
    color: #333;
    font-size: small;
}
.card {
    box-sizing: border-box;
    max-width: none;
}
.profile-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #004aad;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.profile-input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 80%; /* Adjust width to account for padding */
}
.message{
    margin: 10px 0;
    padding: 10px;
    background-color: #e7f3fe;
    color: #31708f;
    border: 1px solid #bce8f1;
    border-radius: 6px;
    font-size: smaller;
}